/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*noinspection DuplicatedCode*/
:root {
    --pink: #e2059c;
    --blue: #5300ff;
    --bg: #211a1dff;
    /* TODO: White-mode */
    --bg_white: #ffffff;
    --sec_bg: #474d58;
    --spotify: #1DB954;
    --discord: #5865F2;
    --twitter: white;
    --steam: #1b2838;
    --ubisoft: #ffffff;
    --github: #000000;
    color-scheme: dark;
}

@media (min-width: 600px) {
    .landing {
        overflow: hidden
    }

    .landing-grid {
        width: 100%;
        height: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 50px;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        margin-top: 8em;
    }

    .landing-grid>*:nth-child(1) {
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-column: 1;
        grid-column: 1;
    }

    .landing-grid>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-row: 1;
        grid-column: 2;
    }

    body {
        background: var(--bg);
        overflow-x: hidden;
        margin: 0
    }

    main {
        -webkit-animation: fade 0.5s 2s forwards;
        animation: fade 0.5s 2s forwards;
        opacity: 0;
    }

    .toggleDiv {
        text-align: right;
        width: 100%;
    }

    .toggle {
        background: -webkit-gradient(linear, right top, left top, from(var(--blue)), to(var(--pink)));
        background: -o-linear-gradient(right, var(--blue), var(--pink));
        background: linear-gradient(to left, var(--blue), var(--pink));
        padding: .5vw;
        border-radius: 50%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        right: 0;
        text-align: right;
        margin-right: 1vw;
        margin-top: 1vw;
        cursor: pointer;
    }

    /*noinspection DuplicatedCode*/
    .aboutme {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        width: 25vw;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        border-radius: 8px;
        -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        font-family: monospace;
        text-align: center;
    }

    /*noinspection DuplicatedCode*/
    .title {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .intro {
        font-size: 4.1vw;
        font-weight: 900;
        line-height: 1.1;
        color: transparent;
        background: -webkit-gradient(linear, right top, left top, from(var(--blue)), to(var(--pink)));
        background: -o-linear-gradient(right, var(--blue), var(--pink));
        background: linear-gradient(to left, var(--blue), var(--pink));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .wrapper h1 {
        color: whitesmoke;
        /* color: var(--bg); */
        font-family: cursive, Arial;
        overflow: hidden;
        border-right: .15em solid transparent;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        -webkit-animation: typing 2s steps(28, end), blink-caret .7s step-end 3;
        animation: typing 2s steps(28, end), blink-caret .7s step-end 3;
    }

    .photos {
        font-family: monospace;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        margin-top: 2vw;
        border-radius: 8px;
        background-color: var(--sec_bg);
        color: var(--bg);
        width: 25vw;
        height: auto;
        -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        -webkit-box-shadow: 4px 4px 10px 2px var(--pink);
        box-shadow: 4px 4px 10px 2px var(--pink);
        transition: box-shadow .5s, -webkit-box-shadow .5s;
        box-sizing: border-box;
        cursor: pointer;
    }

    .photos:hover {
        -webkit-box-shadow: 4px 4px 20px 5px var(--blue);
        box-shadow: 4px 4px 20px 5px var(--blue);
        transition: box-shadow .5s, -webkit-box-shadow .5s;
    }

    .photos img {
        width: 25vw;
        height: auto;
        border-radius: 8px;
    }

    .textphoto {
        color: white;
        font-family: monospace;
        font-size: 4vw;
        font-weight: bold;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
        -webkit-user-select: none;
    }


    /*noinspection DuplicatedCode*/
    .socials {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: var(--sec_bg);
        width: 25vw;
        height: 4.5vw;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        border-radius: 8px;
        -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        -webkit-box-shadow: 4px 4px 10px 2px var(--pink);
        box-shadow: 4px 4px 10px 2px var(--pink);
        transition: box-shadow .5s, -webkit-box-shadow .5s;
    }

    .socials:hover {
        -webkit-box-shadow: 4px 4px 20px 5px var(--blue);
        box-shadow: 4px 4px 20px 5px var(--blue);
        transition: box-shadow .5s, -webkit-box-shadow .5s;
    }

    .social {
        z-index: -1;
    }

    .social-icon {
        width: 3vw;
        margin-top: .5vw;
        margin-bottom: .5vw;
        margin-left: 1vw;
        margin-right: 1vw;
        fill: var(--bg);
        -webkit-transition: fill .5s, width .5s;
        -o-transition: fill .5s, width .5s;
        transition: fill .5s, width .5s;
        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    }

    .spotify:hover {
        fill: var(--spotify);
        /* -webkit-transition: fill .5s;
        -o-transition: fill .5s;
        transition: fill .5s; */
        width: 3.5vw;
    }

    .twitter:hover {
        fill: var(--twitter);
        /* -webkit-transition: fill .5s;
        -o-transition: fill .5s;
        transition: fill .5s; */
    }

    .steam:hover {
        fill: var(--steam);
        /* -webkit-transition: fill .5s;
        -o-transition: fill .5s;
        transition: fill .5s; */
        width: 3.5vw;
    }

    .github:hover {
        fill: var(--github);
        /* -webkit-transition: fill .5s;
        -o-transition: fill .5s;
        transition: fill .5s; */
        width: 3.5vw;
    }

    .discord-icon:hover {
        fill: var(--discord);
        /* -webkit-transition: fill .5s;
        -o-transition: fill .5s;
        transition: fill .5s; */
        width: 3.5vw;
    }


    /*noinspection DuplicatedCode*/
    .Discord {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        margin-top: 2vw;
        border-radius: 8px;
    }

    .discord-activity {
        -webkit-box-shadow: 4px 4px 10px 2px var(--pink);
        box-shadow: 4px 4px 10px 2px var(--pink);
        border-radius: 10px;
        transition: box-shadow .5s, -webkit-box-shadow .5s;
    }

    a {
        -webkit-transition: all 2s;
        -o-transition: all 2s;
        transition: all 2s;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
    }

    .discord-activity:hover {
        -webkit-box-shadow: 4px 4px 20px 5px var(--blue);
        box-shadow: 4px 4px 20px 5px var(--blue);
    }
}

@media (max-width: 600px) {
    body {
        background: var(--bg);
        border-top: 16px transparent;
    }
    
    main {
        padding-top: 1vw;
        margin-top: 2em;
        -webkit-animation: fade 0.5s 2s forwards;
        animation: fade 0.5s 2s forwards;
        opacity: 0;
    }

    .toggleDiv {
        text-align: right;
        width: 100%;
    }

    .toggle {
        background: -webkit-gradient(linear, right top, left top, from(var(--blue)), to(var(--pink)));
        background: -o-linear-gradient(right, var(--blue), var(--pink));
        background: linear-gradient(to left, var(--blue), var(--pink));
        padding: .5vw;
        border-radius: 50%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        right: 0;
        text-align: right;
        margin-right: 1vw;
        margin-top: 1vw;
        cursor: pointer;
    }

    /*noinspection DuplicatedCode*/
    .aboutme {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        margin-top: 5vw;
        border-radius: 8px;
        -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        font-family: monospace;
    }


    /*noinspection DuplicatedCode*/
    .title {
        margin-top: 1vw;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 4vw;
    }

    #discord {
        margin: 0 auto;
    }

    .intro {
        font-size: xxx-large;
        font-weight: 900;
        line-height: 1.1;
        color: transparent;
        background-color: var(--pink);
        -webkit-animation: textfading 5s infinite 3.75s;
        animation: textfading 5s infinite 2.5s;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
    }

    .wrapper h1 {
        color: whitesmoke;
        font-family: cursive;
        overflow: hidden;
        border-right: .15em solid transparent;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        -webkit-animation: typing 2s steps(28, end), blink-caret .7s step-end 3;
        animation: typing 2s steps(28, end), blink-caret .7s step-end 3;
    }


    /*noinspection DuplicatedCode*/
    .socials {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        background-color: var(--sec_bg);
        width: auto;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        margin-top: 5vw;
        border-radius: 8px;
        -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        -webkit-box-shadow: 4px 4px 10px 2px var(--pink);
        box-shadow: 4px 4px 10px 2px var(--pink);
        -webkit-animation: colorfading 5s infinite;
        animation: colorfading 5s infinite;
    }

    .social {
        margin: 3vw;
        z-index: -1;
    }

    .social-icon {
        width: 10vw;
        fill: var(--bg);
        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    }

    .photos {
        font-family: monospace;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        margin-top: 5vw;
        border-radius: 8px;
        background-color: var(--sec_bg);
        color: var(--bg);
        /* width: 75vw;
        height: auto; */
        -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        -webkit-box-shadow: 4px 4px 10px 2px var(--pink);
        box-shadow: 4px 4px 10px 2px var(--pink);
        transition: box-shadow .5s, -webkit-box-shadow .5s;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-animation: colorfading 5s infinite 2.5s;
        animation: colorfading 5s infinite 2.5s;
    }

    .textphoto {
        color: white;
        font-family: monospace;
        font-size: 14vw;
        font-weight: bold;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-user-select: none;
        user-select: none;
        z-index: 2;
    }

    .photos img {
        margin-right: 12.5vw;
        margin-left: 12.5vw;
        border-radius: 8px;
        width: 71.5vw;
        height: auto;
    }


    /*noinspection DuplicatedCode*/
    .Discord {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
        margin-top: 5vw;
        border-radius: 8px;
    }

    .discord-activity {
        -webkit-box-shadow: 4px 4px 10px 2px var(--pink);
        box-shadow: 4px 4px 10px 2px var(--pink);
        border-radius: 10px;
        -webkit-animation: colorfading 5s infinite 1.25s;
        animation: colorfading 5s infinite 1.25s;
    }

    a {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
    }
}


/*Color changing text*/
@-webkit-keyframes textfading {

    from,
    to {
        background-color: var(--pink);
    }

    50% {
        background-color: var(--blue);
    }
}

@keyframes textfading {

    from,
    to {
        background-color: var(--pink);
    }

    50% {
        background-color: var(--blue);
    }
}

/*Color changing shadows for mobile devices*/
@-webkit-keyframes colorfading {

    from,
    to {
        -webkit-box-shadow: 4px 4px 10px 2px var(--pink);
        box-shadow: 4px 4px 10px 2px var(--pink);
    }

    50% {
        -webkit-box-shadow: 4px 4px 10px 2px var(--blue);
        box-shadow: 4px 4px 10px 2px var(--blue);
    }
}

@keyframes colorfading {

    from,
    to {
        -webkit-box-shadow: 4px 4px 10px 2px var(--pink);
        box-shadow: 4px 4px 10px 2px var(--pink);
    }

    50% {
        -webkit-box-shadow: 4px 4px 10px 2px var(--blue);
        box-shadow: 4px 4px 10px 2px var(--blue);
    }
}


/* Fading Effect */

@-webkit-keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

/* Typing effect */

@-webkit-keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

/* Cursor Effect */

@-webkit-keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--blue)
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--blue)
    }
}